body {
    background-color: rgb(0, 0, 0);
}

@font-face {
    font-family: 'AeroportRegular';
    src: url('./fonts/AEROPORT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportBold';
    src: url('./fonts/AEROPORTBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportLight';
    src: url('./fonts/AEROPORTLIGHT.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportMedium';
    src: url('./fonts/AEROPORTMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportMono';
    src: url('./fonts/AEROPORTMONO.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('./fonts/AEROPORT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.denied-container {
    background-color: #313233;
}

.game-img {
    position: relative;
    margin-bottom: -45px;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.game-text {
    padding: -40px;
    font-family: 'Aeroport Regular', sans-serif;
    font-size: 12.5px;
    text-align: center;
}

.game-text h1 {
    margin-bottom: -5px; 
}

.game-text p {
    font-family: 'Aeroport Light', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
}

.container-puzzle {
    display: grid;
    grid-template-columns: 5% auto;
    align-items: center;
    margin-top: 20px;
    width: 365px; 
}

.rectangle-puzzle {
    width: 95vw; 
    height: 90px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(202, 202, 202, 0.1);
    display: flex;
    align-items: center; 
}

.durov-img img {
    width: 65px;
    height: 65px;
    border-radius: 10px;
}

.durov-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
    padding-bottom: -25px;
    position: relative;
    top: 5px;
    
}

.durov-text {
    flex-grow: 1;
    padding-left: 10px;
    padding-left: 4.5%;
}

.durov-name {
    font-family: 'Aeroport', sans-serif;
    font-size: 17px;
    position: relative;
    top: 10px;
    margin-right: 50px;
    padding: 0;
    
}

.durov-reward {
    font-size: 14px;
    font-family: 'Aeroport Light', sans-serif;
    position: relative;
    bottom: 7px;
}

.durov-new {
    position: relative;
    left: -55px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 17.5px;
    background-color: #0bb2ff;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(202, 202, 202, 0.1);
    margin-left: 5px; /* Отодвигаем на 5 пикселей вправо */
}

.durov-new-text {
    font-family: 'Aeroport Light', sans-serif;
    color: white;
    font-size: 12px;
}

.durov-play {
    font-family: 'Aeroport', sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 67px;
    height: 28px;
    background-color: #0bb2ff;
    color: white;
    border-radius: 11px;
    position: relative;
    left: -5%;
    border: none;
}

.container-mini-games {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    width: 95vw;
}

.rectangle-mini-games {
    width: 95vw; 
    height: 242px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 4px 10px rgba(202, 202, 202, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.game-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -3px;
    margin-bottom: 2px;
}

.hold-img img,
.roulette-img img,
.swipe-img img {
    width: 65px;
    height: 65px;
    border-radius: 10px;
}

.hold-text,
.roulette-text,
.swipe-text {
    flex-grow: 1;
    padding-left: 10px;
    padding-left: 5%;
}

.hold-name,
.roulette-name,
.swipe-name {
    font-family: 'Aeroport', sans-serif;
    font-size: 17px;
    position: relative;
    top: 10px;
}

.hold-reward,
.roulette-reward,
.swipe-reward {
    font-size: 14px;
    font-family: 'Aeroport Light', sans-serif;
    position: relative;
    bottom: 7px;
}

.hold-play,
.roulette-play,
.swipe-play {
    font-family: 'Aeroport', sans-serif;
    font-size: 19px;
    font-weight: bold;
    width: 67px;
    height: 28px;
    background-color: #0bb2ff;
    color: white;
    border-radius: 11px;
    position: relative;
    left: -1.5%;
    border: none;
}

.about-games {
    font-family: 'Aeroport', sans-serif;
    font-size: 14px;
    font-weight: light;
    opacity: 0.45;
}