body {
    background-color: white;
}

@font-face {
    font-family: 'AeroportRegular';
    src: url('./fonts/AEROPORT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportBold';
    src: url('./fonts/AEROPORTBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportLight';
    src: url('./fonts/AEROPORTLIGHT.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportMedium';
    src: url('./fonts/AEROPORTMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AeroportMono';
    src: url('./fonts/AEROPORTMONO.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('./fonts/AEROPORT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.denied-container {
    background-color: #313233;
}

.invite-img {
    position: relative;
    margin-bottom: -45px;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.invite-text {
    padding: -40px;
    font-family: 'Aeroport Regular', sans-serif;
    font-size: 12.5px;
    text-align: center;
}

.invite-text h1 {
    margin-bottom: 5px; 
}

.invite-text p {
    font-family: 'Aeroport Light', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px; 
}

.container-invite {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-top: 20px;
    width: 365px; 
}

.rectangle-invite {
    width: 95vw;
    height: 220px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(202, 202, 202, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-invite {
    display: grid;
    grid-template-columns: 40px 1fr; 
    align-items: center;
    margin-bottom: 35px; 
}

.info-without-premium {
    margin-top: 10px;
}


.star-invite {
    font-size: 35px;
    padding-left: 28%;
}

.text-invite {
    display: flex;
    flex-direction: column;
    margin-left: 30px; 
}

.text-invite h2 {
    font-family: 'Aeroport Regular', sans-serif;
    font-size: 20px;
    margin: 0;
}

.text-invite p {
    font-family: 'Aeroport Light', sans-serif;
    font-size: 15px;
    opacity: 0.65;
    margin: 0;
}

.info-premium {
    margin-top: -25px;
}

.invite-buttons {
    padding-left: 6%;
    margin-top: -17px;
    display: flex;
    gap: 9px;
}

.invite-btn {
    font-family: 'Aeroport Regular', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #0bb2ff;
    border: none;
    color: white;
    border-radius: 10px;
    width: 69vw;
    height: 45px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.copy-btn {
    font-family: 'Aeroport Regular', sans-serif;
    font-size: 20px;
    background-color: #add2e4;
    color: white;
    border-radius: 10px;
    border: none;
    width: 12vw;
    height: 45px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}